.wp-block-create-block-history-timeline {
	// color: #fff;s

	.timeline {
		position: relative;
	}

	.container {
		position: relative;
		width: 50%;
	}

	.textbubble {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 5px;
		padding: 10px;
		margin: 20px;
		border: 2px solid black;
		border-radius: 1rem;
	}

	.point {
		position: absolute;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		right: -10px;
		top: 40%;
		background-color: white;
		border-radius: 50%;
		z-index: 2;
		border: 2px black solid;
	}

	.timeline .container:nth-child(even) {
		left: 50%;
	}

	.container:nth-child(even) .point {
		left: -14px;
	}

	.timeline::before {
		content: "";
		position: absolute;
		height: 100%;
		width: 2px;
		left: 49.8%;

		background-color: black;
	}

	/* ---- Responsivenes ---- */

	@media (max-width: 880px) {
		.timeline::before {
			left: 12px;
		}
		.container {
			width: 100%;
			padding-left: 10px;
		}
		.point {
			left: 0;
		}

		.timeline .container:nth-child(even) {
			left: 0;
		}

		.container:nth-child(even) .point {
			left: 0;
		}
	}
}
